.crew{
    width: 90%;
    margin: 2rem auto;
    border-top: solid black 0.5px;

    &__title{
        text-align: center;
    }
}

.crew__list{
    column-count: 3;
    border: solid black 1px;

    &__item{
        border: solid red 1px;
        width: 50%;
        list-style:lower-greek;
    }
}