.crew{
    width: 90%;
    margin: 2rem auto;
    border-top: solid black 0.5px;

    &__title{
        text-align: center;
    }
}

.crew__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.crew__list__item{
    display: flex;
    justify-content: space-between;
    border: solid black;
    padding: 0.5rem;
}
.crew__list__item:hover{
    
    .delete__crew__member{
        display: block;
    }
}
.delete__crew__member{
    display: none;
}


