@use'../../vars.scss';

.crew{
    margin-top: vars.$gutter;

    &__title{
        text-align: center;
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding:vars.$gutter;
        gap: 20px;

        &__item{
            border: solid black 1px;
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 0.5rem;
            
        }
    }
}

.crew__face{
    display: flex;
    width: 94%;
    margin: auto;
}
.crew__face__item{
    width: 10%;
    margin-left: -10px;
    transition: 1s;
}
.crew__face__item:hover{
    transform: scale(1.2);
}
.delete__crew__member{
    opacity: 0;
    cursor: pointer;
    transition: 1s;
    background-color: red;
        color: white;
        border: none;
}



.crew__list__item{
    transition-duration: 1s; 
}
.crew__list__item:hover{
    transform: scale(1.1); 

    .delete__crew__member{
        opacity: 1;
        
        
        
    }
}


@media screen and(max-width:655px) {
    .crew__face__item{
        width: 15%;
    }
}